{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Listados<h1>
<div class="container text-center">
    <div class="row">
    </br>
    </br> 
           
            <div class="col-12">
                
                
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>id</th>
                        <th>fecha</th>
                        <th>domicilio</th>
                        <th>encuestador</th>
                        <th>visita</th>
                        <th>revisita</th>
                        <th>ficha</th>
                        <th>ficha_ref</th>
                        <th>comentarios</th>

                      </tr>
                    </thead>
                    <tbody>
                      {% for meep in meeps %}
                      <tr>
                        <td>{{ meep.id }}</td>
                        <td>{{ meep.created_at }}</td>
                        <td>{{ meep.domicilio }}</td>
                        <td>{{ meep.user }}</td>
                        <td>{{ meep.visita }}</td>
                        <td>{{ meep.revisita }}</td>
                        <td>{{ meep.ficha }}</td>
                        <td>{{ meep.ficha_ref }}</td>
                        <td>{{ meep.comentarios }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>      
                
            </div>    
            
                        
    </div>
</div>

{% endblock %}
