{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Buscar<h1>
<div class="container text-center">
    <div class="row">
            <div class="col-12">
              
              <form method=POST>
                {% csrf_token %}
               <input type="input" class="form-control" placeholder="Buscar Direcciones" name="search">
               </br>
              
                <button type="submit" class="btn btn-secondary">Buscar</button>
                 
              </form>
               
            
            </div>
            </br>
            {% if search %} 
            <div>Buscabas... {{ search }}</div>
            </br>
            </br>
            <div class="col-12">
                {% for meep in searched %}
                {% if meep.visita == 9 %}
     
               <div class="card border-success mb-3" style="max-width: 540px;">
                   <div class="row g-0">
                     <div class="col-md-4">
                       <img src="{% static 'images/user.png' %}" class="img-fluid rounded-start" alt="Profile_Image">
                     </div>
                     <div class="col-md-8">
                       <div class="card-body">
                         <h5 class="card-title">{{ meep.ficha }}</h5>
                         <p class="card-text">Domicilio:{{ meep.domicilio }}</p>
                         <p class="card-text">Visita:{{ meep.visita }}</p>
                         <p class="card-text">Revisita:{{ meep.revisita }}</p>
                         <p class="card-text">Referencia:{{ meep.ficha_ref }}</p>
                         <p class="card-text">Usuario:{{ meep.user }}</p>
                         <p class="card-text"><small class="text-body-secondary">fecha:{{ meep.created_at }}</small></p>
                         {% if request.user.username == profile.user.username %}
                              
                           <a href="{% url 'edit_meep' meep.id %}"><button type="button" class="btn btn-outline-success btn-lg">Editar</button></a>     

                         {% endif %}
                       </div>
                     </div>
                   </div>
               </div>

               {% else %}

               <div class="card mb-3" style="max-width: 540px;">
                 <div class="row g-0">
                   <div class="col-md-4">
                     <img src="{% static 'images/user.png' %}" class="img-fluid rounded-start" alt="Profile_Image">
                   </div>
                   <div class="col-md-8">
                     <div class="card-body">
                       <h5 class="card-title">{{ meep.ficha }}</h5>
                       <p class="card-text">Domicilio:{{ meep.domicilio }}</p>
                       <p class="card-text">Visita:{{ meep.visita }}</p>
                       <p class="card-text">Revisita:{{ meep.revisita }}</p>
                       <p class="card-text">Referencia:{{ meep.ficha_ref }}</p>
                       <p class="card-text">Usuario:{{ meep.user }}</p>
                       <p class="card-text"><small class="text-body-secondary">fecha:{{ meep.created_at }}</small></p>
                       {% if request.user.username == profile.user.username %}
                            
                         <a href="{% url 'edit_meep' meep.id %}"><button type="button" class="btn btn-outline-success btn-lg">Editar</button></a>     

                       {% endif %}
                     </div>
                   </div>
                 </div>
               </div>
               {% endif %}
                 
               <br/><br/>

               {% endfor %}

           </div>
            {% endif %}

            </br>
            </br>
            </br>
            </br>
    </div>
</div>                       


{% endblock %}